# Operaciones

Operando [operador] Operando

## Operadores y Expresiones

2 + 2

2 - 2

2 * 2

2 / 2

2 // 2

2 % 2

2 ** 2

## EL TIPO LÓGICO
### Booleano/Binario
True => Verdadero

False => Falso

## OPERADORES RELACIONALES
### Igualdad/Desigualdad/Menor-Mayor que

In [ ]:
suma = 2 + 2
print(2 < 2)
print(2 > 2)
print(2 > 4)
print(2 < 4)
print(2 <= 2)
print(2 >= 2)
print(2 <= 5)
print(2 >= 1)
print(1 == 1)
print(1 != 1)
print(suma == 4)
print(suma == 15)
print(suma != 4)
print(suma != 15)

In [ ]:
# 2 + 2 = 4

# print(2 < 2)
# print(2 > 2)
# print(2 > 4)
# print(2 < 4)
# print(2 <= 2)
# print(2 >= 2)
# print(2 <= 5)
# print(2 >= 1)
# print(1 == 1)
# print(1 != 1)
# print(suma == 4)
# print(suma == 15)
# print(suma != 4)
# print(suma != 15)

otro_numero = 10

# print(suma < otro_numero)
# print(otro_numero > 50)
# print(suma <= 5)
# print(suma <= 4)
# print(suma < 4)
# print(otro_numero >= 10)
# print(otro_numero > 10)
# print(otro_numero >= 5)

## ¿Operadores en Strings?

https://elcodigoascii.com.ar/

In [ ]:
print('a' == 'a')
print('a' == 'A')
print('a' != 'A')
print(ord('a'))
print(ord('A'))
print(ord(' '))

In [ ]:
print('a' < 'A')
print('a' < 'Z')
print(ord('Z'))
print(chr(ord('Z') + 14))

In [ ]:
print(chr(97))

In [ ]:
print('ahorrar' < 'aHorrar')
print('ah' < 'aHorrar')
print('ah' > 'ahorrar')
print('ah' < 'ahorraR')
print('a' >= 'ahorrar')

In [ ]:

# 'a' == 'b'
# 'a' < 'b'
string1 = 'ricardo como ta va? soy pancho'
palabra2 = 'hola'
print(string1 == 'hola')
print(string1 == palabra2)
print(string1[0] == 'r')
print(string1[:2] == 'r')
print(string1[:2] == 'ri')

In [ ]:
1 < 'a'

## Operadores usando tipos logicos

In [ ]:
print(True)
print(False)
print(True == False)
print(True == True)
print(True == 1)
print(False == 0)

In [ ]:
print(False * 55)
print(True * 55)
print(True + 55)
print(True + 0.5)
print(False == 0.5)

In [ ]:
# int()
# str()
# float()
# list()
# tuple()
# bool()
# bool('A')
# bool('')
# bool([])
# bool([1])
# bool(-23)
# bool(12)
# bool(0)

In [ ]:
# print(int(True))
# print(bool(1))

# True < False
# 1 < 0

# print(True == 55)
# print('55' == 55)
# print('a' == 97)
# print(bool(-4))
# print(bool(0))
# print(bool(''))
# print(bool('123asd'))
# print(bool([]))
# print(bool([2, 3, 54, 'pepe', 'ricardo']))

## Ejercicio 1 (10min)

In [ ]:
expresiones = [
    False == True,
    10 >= 2*4,
    33/3 == 11,
    True > False,
    True*5 == 2.5*2
]
print(expresiones)

## OPERADORES LÓGICOS
### not

In [ ]:
print(True)
print(False)
print(not True)
print(not False)
print(not 4)
print(not -4)
print(not 0.1)
print(not 0)
print(not '123asd')
bool('123asd')

### and

In [ ]:
True and True
False and True

True

In [ ]:
print(55 == 60 and 1.5 == 1.4) # False
#      False          False

print(55 == 60 and 1.5 == 1.5) # False
#      False          True

print(60 == 60 and 1.5 == 1.4) # False
#      True           False

print(60 == 60 and 1.5 == 1.5) # True
#      True           True

In [ ]:
# 4/0
# True and 4/0
# False and 4/0
# 4/0 and False

### or

In [ ]:
print(55 == 60 or 1.5 == 1.5) # True
#      False           True

print(60 == 60 or 1.5 == 1.5) # True
#      True           True

print(60 == 60 or 1.5 == 1.4) # True
#      True           False

print(55 == 60 or 1.5 == 1.4) # False
#      False           False

In [ ]:
# False or 4/0
# 4/0 or True
# True or 4/0

True

## Tablita

In [ ]:
# True or True    ----> True     | True and True    ----> True
# False or True   ----> True     | False and True   ----> False
# True or False   ----> True     | True and False   ----> False
# False or False  ----> False    | False and False  ----> False

## Ejercicio 2 (10min)

In [ ]:
expresiones = [
    not False,
    not 3 == 5,
    33/3 == 11 and 5 > 2,
    True or False,
    True*5 == 2.5*2 or 123 >= 23,
    12 > 7 and True < False
]
print(expresiones)

[True, True, True, True, True, False]

### Y porque pasa eso con el not?

not 3 == 5

In [ ]:
# 3 == 0 # False
# not 3 # False
# not 3 == 0 # True

In [ ]:
# 3 == 1 # False
# not 3 # False
# not 3 == 1 # True

# not 3 == 1
# False == 1 # False
# not (3 == 1)

In [ ]:
# funciones de casting/transformacion de tipo de dato
print(int(4.5))
print(float('4.3'))
print(str(False))
print(bool([1,2,3,'otro valor']))
print(list('4.3'))
print(tuple([1,2,3,'otro valor']))

# print(float('pepe')) # Genera error

# Break

## EXPRESIONES ANIDADAS


1. Expresiones de cualquier tipo entre paréntesis.
2. Expresiones aritméticas por su propias reglas.
```
() -> ** -> / // * %  -> + -
primero -> segundo -> tercero -> cuarto
```
3. Expresiones relacionales de izquierda a derecha.
4. Operadores lógicos (not tiene prioridad ya que afecta al operando).

In [ ]:
a = 15
b = 12
a ** b / 3**a / a * b >= 15 and not (a%b**2) != 0

False

### Paso a paso

```
a = 15
b = 12
a ** b / 3**a / a * b >= 15 and not (a%b**2) != 0
```

1) b**2 => 144
```
a ** b / 3**a / a * b >= 15 and not (a%144) != 0
```
2) a%144 => 15
```
a**b / 3**a / a * b >= 15 and not 15 != 0
```
3) a**b => 129746337890625
```
129746337890625 / 3**a / a * b >= 15 and not 15 != 0
```
4) 3**a => 14348907
```
129746337890625 / 14348907 / a * b >= 15 and not 15 != 0
```
5) 129746337890625 / 14348907 => 9042245.370370371
```
9042245.370370371 / a * b >= 15 and not 15 != 0
```
6) 9042245.370370371 / a => 602816.3580246915
```
602816.3580246915 * b >= 15 and not 15 != 0
```
7) 602816.3580246915 * b => 7233796.296296298
```
7233796.296296298 >= 15 and not 15 != 0
```
8) 7233796.296296298 >= 15 => True
```
True and not 15 != 0
```
9) 15 != 0 => True
```
True and not True
```
10) not True => False
```
True and False
```
False

## Ejercicio 3 (10min)

A partir de dos variables llamadas NOMBRE y EDAD, debes crear una variable que almacene si se cumplen todas las siguientes condiciones, encadenando operadores lógicos en una sola línea:

- NOMBRE sea diferente de cuatro asteriscos “****”
- EDAD sea mayor que 5 y a su vez menor que 20
- Que la longitud de NOMBRE sea mayor o igual a 4  pero a la vez menor que 8
- EDAD multiplicada por 3 sea mayor que 35


Desde un input conseguir las variables:

nombre = INPUT!!!

edad = INPUT!!!!

In [ ]:
nombre = input('Ingresa tu nombre: ')
edad = int(input('Ingresa tu edad: '))

resultado = nombre != '****' and 5 < edad < 20 and 4 <= len(nombre) < 8 and edad * 3 > 35

print('Las condiciones dan como resultado:', resultado)

In [ ]:
nombre = input('Ingrese nombre: ')
edad = int(input('Ingrese edad: '))

resultado = nombre != '****' and 5 < edad < 20 and 8 > len(nombre) >= 4 and edad * 3 > 35

print('Se cumplen las condiciones?', resultado)

In [ ]:
bool('asda')

## OPERADORES DE ASIGNACIÓN

In [ ]:
# =
var1 = 57
cadena = 'pepe'
lista = [1,2,3,4]
print(var1)
print(cadena)
print(lista)

57
pepe
[1, 2, 3, 4]

In [ ]:
# +=
var1 += 2 # var1 = var1 + 2
print(var1)
cadena += '2' # cadena = cadena + '2'
print(cadena)
lista += ['otro', 'valor']
print(lista)

59
pepe2
[1, 2, 3, 4, 'otro', 'valor']

In [ ]:
# -=
var1 -= 2 # var1 = var1 - 2
print(var1)

57

In [ ]:
# *=
var1 *= 2 # var1 = var1 * 2
print(var1)
cadena *= 2 # cadena = cadena * 2
print(cadena)
lista *= 2
print(lista)

114
pepe2pepe2
[1, 2, 3, 4, 'otro', 'valor', 1, 2, 3, 4, 'otro', 'valor']

In [ ]:
# /=
var1 /= 2 # var1 = var1 / 2
print(var1)

In [ ]:
# %=
var1 %= 5 # var1 = var1 % 5
print(var1)

In [ ]:
# **=
var1 **= 2 # var1 = var1 ** 2
print(var1)

In [ ]:
# var = 1
# var = ''
# var = True

# lista = [1,2,3,4,True]
# lista[:] = []
# lista = []
# lista.clear()

# tupla = (1,2,3,4,True)
# tupla = ()

lista = [1,2,3,4,True, [[], []] ]

Escribir un programa que almacene la cadena de caracteres contraseña en una variable, pregunte al usuario por la contraseña e imprima por pantalla si la contraseña introducida por el usuario coincide con la guardada en la variable.

In [ ]:
password = 'pass123'
inputpass = input('ingresa tu contraseña: ')

print(password == inputpass)

In [ ]:
contrasenia = 'pass123456'
pass_ingresada = input('Ingresa la contraseña: ')
print(contrasenia == pass_ingresada)

Escribir un programa que pida al usuario un número entero y muestre por pantalla si es par o impar.

In [ ]:
numeroEntero = int(input('escriba un numero entero'))
print(numeroEntero%2==0)






# numero = float(input('Ingresa un numero entero: '))
# print('El numero ingresado por pantalla es par?', numero % 2 == 0)