# Listas ( heterogeneas )

In [ ]:
[25, 34, 'hola', 'otro string', 3]

In [ ]:
type([25, 34, 'hola', 'otro string', 3])

list

In [ ]:
lista1 = [1, 2, 3, 4, 1]
edad = 25
lista2 = [1, 2, 3,'pepe', 'roque', True, -15, type(edad)]

print(lista2)

[1, 2, 3, 'pepe', 'roque', True, -15, <class 'int'>]

# Listas y Strings

Index

In [ ]:
cadena = 'esta es cadena de prueba'
print(cadena[5])

lista = [1, 2, 3, 'pepe', 'roque']
#        0  1  2   3       4 -> subiendo...
#        -5 -4 -3  -2      -1
print(lista[3])
print(lista[-1])

# Estos 2 accesos generan un error
# print(cadena[55])
# print(lista[55])

e
pepe
roque

IndexError: ignored

Slicing

In [ ]:
cadena = 'esta es cadena de prueba'
print(cadena)
print(cadena[4:8])
print(cadena)

esta es cadena de prueba
 es
esta es cadena de prueba

In [ ]:
lista = [1, 2, 3,'pepe', 'roque']

print(lista)
print(lista[2:4])
print(lista)

# Para poder volver a utilizar el valor en el futuro

# segunda_lista = lista[2:4]
# print(segunda_lista)
# print(lista)

# segunda_lista = lista[::2]
# print(segunda_lista)
# print(lista)

concatenaciÃ³n

In [ ]:
cadena = 'esta es cadena de prueba'
cadena_concatenada = cadena + ' soy pepe'
print(cadena_concatenada)

esta es cadena de prueba soy pepe

In [ ]:
lista1 = [1, 2, 3, 'pepe', 'roque']
# lista_concatenada = lista1 + cadena
lista_concatenada = lista1 + [cadena, 123]
# lista2 = [cadena]
print(lista1)
# print(lista2)
# lista_concatenada = lista1 + lista2
print(lista_concatenada)

In [ ]:
# cadena1 = 'esta es cadena de prueba'
# cadena2 = ' otro gato'
# print(cadena1 + cadena2)
# lista1 = [1, 2, 3,'pepe', 'roque']
# lista2 = [6,7,8,1]
# print(lista1 + lista2)
# print(lista1 + [cadena1])

Inmutabilidad/Mutabilidad

In [ ]:
# cadena = 'claro'
# cadena[3] = 's'
# cadena = cadena[:3] + 's' + cadena[4:]
# print(cadena)
lista = ['primero', 'segundo', 'tercero']
print(lista)
print(lista[1])
lista[1] = 'cuarto'
print(lista)
print(lista[1])
lista[1] = 123
print(lista)
print(lista[1])
lista[1] = [1,2,3,4,5,'eaea']
print(lista)
print(lista[1])

Asignacion por slicing

In [ ]:
lista = ['primero', 'segundo', 'tercero', 'cuarto', 'quinto']
print(lista)
print(lista[1:3])

lista[1:3] = [2, 3,'otro dato en string']
print(lista)

lista[1:3] = ['mas datos']
print(lista)

lista[1:3] = []
print(lista)

# print(lista[1:3])
# lista[1:3] = ['soy', 'mas', 'de', 'un', 'valor']
# print(lista)

lista[1:3] = 'hola'
print(lista)

In [ ]:
print(list('hola'))
print(list(2))

In [ ]:
lista[1:3] = ['soy', 'mas', 'de', 'un', 'valor']
print(lista)


lista[1:5] = []
print(lista)

# lista[1:3] = 'pepe'
# # print(list('hola')) # -> ['p', 'e', 'p', 'e']
# print(lista)

# # lista[1:3] = 4 # genera un error
# lista[1:3] = [4]
# print(lista)

Borrar valores con slicing o vaciar lista

In [ ]:
lista = ['primero', 'segundo', 'tercero', 'cuarto', 'quinto']
print(lista)
lista[1:3] = []
print(lista)
# lista[1:3] = []
# print(lista)
# lista[::2] = [] # Genera error ya que no les permite la asignaciÃ³n con el salto de valores
lista = []
print(lista)

# Funciones de listas

append

In [ ]:
lista = [1, 2, 3, 'pepe', 'roque']
print(lista)
# [1, 2, 3, 'pepe', 'roque'].append('otro valor')
lista.append('otro valor')
print(lista)
lista.append(['otro valor', 2])
print(lista)
lista = lista + ['otro valor', 2]
print(lista)

len

In [ ]:
lista = [1, 2, 3, 'pepe', 'roque']
print(len(lista))

5

pop

In [ ]:
lista = [1, 2, 3, 'pepe', 'roque']
# lista.pop(2)
# print(lista)

valor_extraido = lista.pop()
# valor_extraido = lista.pop(3)
print(lista)
print(valor_extraido)
# lista.pop()
# print(lista)

count

In [ ]:
lista = [1, 2, 3, 'pepe', 2, 'roque', 2]
print(lista.count())
print(lista.count(2))
print(lista.count(4))
print(lista.count('pepe'))

index ( salteos para buscar, inexistencia )

In [ ]:
lista = ['pepe', 1, 2, 3, 'pepe', 'roque', 'pepe']
print(lista.index('pepe'))
print(lista.index('pepe', 1))
print(lista.index('pepe', 5, 6))
# print(lista.index('pepe', 7))

# print(lista.index('salto')) # genera error al no encontrar el dato que se busca

# Break

# Tuplas ( heterogeneas )

In [ ]:
lista = [1,2,3,'pepe','gato']
tupla = (1,2,3,'pepe','gato')
tupla1 = 1,2,3,'pepe','gato'

print(type(lista))
print(type(tupla))
print(type(tupla1))

<class 'list'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
lista = [2]
# tupla = ('2')
# tupla = ('2',)
# tupla = ('pepe',)
# tupla = (2,)
# tupla = (2)
# tupla = 2,
tupla = 2, 3, 4, 5
# print(tupla)
print(type(lista))
print(type(tupla))

<class 'list'>
<class 'tuple'>

Inmutabilidad

In [ ]:
lista = [1,2,3,'pepe','gato']
lista[1] = 'otro valor'
print(lista)

tupla = (1,2,3,'pepe','gato')
tupla[1] = 'otro valor'
print(tupla)

Vaciar

In [ ]:
tupla = (1,2,3,'pepe','gato')
# print(tupla)
# print(type(tupla))
tupla = ()
# print(type(tupla))
tupla = tuple()
# print(type(tupla))

tupla = tuple([2,3,4])
print(type(tupla))
print(tupla)
lista_nueva = list(tupla)
print(lista_nueva)

# lista = list()
# print(type(lista))

print(list('ricardo'))
print(tuple('ricardo'))

<class 'list'>
[2, 3, 4]
(2, 3, 4)

Index y slicing

In [ ]:
tupla = (1,2,3,'pepe','gato')
print(tupla[2])
print(tupla[1:])
print(tupla[::2])
print(tupla)

ConcatenaciÃ³n

In [ ]:
tupla1 = (1,2,3)
tupla2 = ('pepe','gato')
tupla3 = tupla1 + tupla2
print(tupla3)
tupla1 = tupla1 + tupla3
print(tupla1)

(1, 2, 3, 'pepe', 'gato')
(1, 2, 3, 1, 2, 3, 'pepe', 'gato')

# Funciones de tuplas

len

In [ ]:
tupla34 = (1,2,3,'pepe','gato')
print(len(tupla34))

count

In [ ]:
tupla = (1,'pepe', 2,3,'pepe','gato','pepe')
print(tupla.count('pepe'))
# print((1,'pepe', 2,3,'pepe','gato','pepe').count('pepe'))

index ( salteos para buscar, inexistencia )

In [ ]:
tupla = ('pepe', 1, 2, 3, 'pepe', 'roque', 'pepe')
print(tupla.index('pepe'))
print(tupla.index(1))
print(tupla.index('pepe', 1))
# print(tupla.index('pepe', 5, 6))
# print(tupla.index('pepe', 7))

# print(tupla.index('salto')) # genera error al no encontrar el dato que se busca

Casting

In [ ]:
tupla = ('pepe', 1, 2, 3, 'pepe', 'roque', 'pepe')
print(tupla)
lista_desde_tupla = list(tupla)
print(lista_desde_tupla)

tupla_desde_lista = tuple(lista_desde_tupla)
print(tupla_desde_lista)

AnidaciÃ³n ( acceso )

 lista = [1,2,3,'pepe','gato', ['lista', 'interna'], ('tupla', 'tupla2')]

 lista[-1][1] -> 'tupla2'

 lista[-1][1][2] -> 'p'

 [1,2,3,'pepe','gato', ['lista', 'interna'], ('tupla', 'tupla2')][-1][1]

 ('tupla', 'tupla2')[1]

 'tupla2'

In [ ]:
lista = [1,2,3,'pepe','gato', ['lista', 'interna'], ('tupla', 'tupla2')]
print(lista)
print(lista[-1][0])
# print(('tupla', 'tupla2')[0])
lista[-2][0] = 2
print(lista)

[1, 2, 3, 'pepe', 'gato', ['lista', 'interna'], ('tupla', 'tupla2')]
tupla
[1, 2, 3, 'pepe', 'gato', [2, 'interna'], ('tupla', 'tupla2')]

In [ ]:
tupla = (1,2,3,'pepe','gato', ['lista', 'interna'], ('tupla', 'tupla2'))
print(tupla)
# print(tupla[-1][0])
# print(tupla[-2][0])
# print(tupla[5][0])
# tupla[-2][0] = 2
# print(tupla)

print(tupla[5][1])
print(['lista', 'interna'][1][2])
print('interna'[2])
print('t')

(1, 2, 3, 'pepe', 'gato', ['lista', 'interna'], ('tupla', 'tupla2'))
t

In [ ]:

# print(lista[-1])
# print(lista[-1][1])
# print(len(lista[-1]))
# lista[-2][1] = 'otra lista'
# lista[-1][1] = 'otra lista' # Genera error
# print(lista)
# print(lista[-1])

# print(tuple(lista))

tupla = (1,2,3,'pepe','gato', ['lista', 'interna'], ('tupla', 'tupla2'))
print(tupla)
tupla[-2][1] = 'otra lista'
print(tupla)

DescripciÃ³n de la actividad.

En esta actividad, podrÃ¡s poner en prÃ¡ctica todo lo aprendido durante la sesiÃ³n.  

Dadas dos listas LISTA1 y LISTA2 debes realizar las siguientes tareas:

- AÃ±ade a la LISTA1 el int 456789 y luego el string âHola Mundoâ
- Luego aÃ±ade a la LISTA2 el string âHola y Adiosâ y luego el int 5555
- Genera una LISTA3 con todos los elementos de la LISTA1 sin considerar el Ãºltimo elemento
- Genera una LISTA4 con todos los elementos de la LISTA2 menos el primero y el Ãºltimo elemento
- Finalmente, genera una LISTA5 con los elementos de la LISTA4 y de la LISTA3

In [ ]:
lista1 = [1, 2, 3, 4, 'pepe', 'hola']
lista2 = [1, 5, ('mi', 'gato'), 'richard']

lista1.append(456789)
lista1.append('Hola Mundo')

lista2[6:] = ['Hola y Adios',5555]

lista3 = lista1[:-1]

lista4 = lista2[1:-1]

lista5 = lista4 + lista3

print(lista1)
print(lista2)
print(lista3)
print(lista4)
print(lista5)

[1, 2, 3, 4, 'pepe', 'hola', 456789, 'Hola Mundo']
[1, 5, ('mi', 'gato'), 'richard', 'Hola y Adios', 5555]
[1, 2, 3, 4, 'pepe', 'hola', 456789]
[5, ('mi', 'gato'), 'richard', 'Hola y Adios']
[5, ('mi', 'gato'), 'richard', 'Hola y Adios', 1, 2, 3, 4, 'pepe', 'hola', 456789]

In [ ]:
lista1.append(456789)
lista1.append('Hola Mundo')
print(lista1)

lista2 = lista2 + ['Hola y Adios', 5555]
print(lista2)

lista3 = lista1[:-1]
print(lista3)

lista4 = lista2[1:-1]
print(lista4)

lista5 = lista4 + lista3
print(lista5)

In [ ]:
lista1 = [1, 2, 3, 4, 'pepe', 'hola']
lista2 = [1, 5, ('mi', 'gato'), 'richard']

lista1.append(456789)
lista1.append('Hola Mundo')

lista2[4:] = ['Hola y Adios', 5555]

lista3 = lista1[:-1]

# lista1.pop()
# lista3 = lista1

lista4 = lista2[1:-1]

lista5 = lista4 + lista3


print(lista1)
print(lista2)
print(lista3)
print(lista4)
print(lista5)

DescripciÃ³n de la actividad.
A partir de una variable llamada tupla, imprimir por pantalla de forma ordenada, lo siguiente:
1. El Ãºltimo Ã­tem de tupla
2. El nÃºmero de Ã­tems de tupla
3. La posiciÃ³n donde se encuentra el Ã­tem 87 de tupla
4. Una lista con los Ãºltimos tres Ã­tems de tupla
5. Un Ã­tem que haya en la posiciÃ³n 8 de tupla
6. El nÃºmero de veces que el Ã­tem 7 aparece en tupla

Copia esta tupla para iniciar el ejercicio:
tupla = (8, 15, 4, 39, 5, 89, 87,  19, 7, -755, 88, 123, 2, 11, 15, 9, 355)

In [ ]:
tupla = (8, 15, 4, 39, 5, 89, 87, 19, 7, -755, 88, 123, 2, 11, 15, 9, 355)

# El Ãºltimo Ã­tem de tupla
print(tupla[-1])

# El nÃºmero de Ã­tems de tupla
print(len(tupla))

# La posiciÃ³n donde se encuentra el Ã­tem 87 de tupla
print(tupla.index(87))

# Una lista con los Ãºltimos tres Ã­tems de tupla
print(list(tupla[-3:]))

# Un Ã­tem que haya en la posiciÃ³n 8 de tupla
print(tupla[8])

# El nÃºmero de veces que el Ã­tem 7 aparece en tupla
print(tupla.count(7))

In [ ]:
tupla = (8, 15, 4, 39, 5, 89, 87, 19, 7, -755, 88, 123, 2, 11, 15, 9, 355)

# 1
print(tupla[-1])

# 2
print(len(tupla))

# 3
print(tupla.index(87))

# 4
print(list(tupla[-3:]))

# 5
print(tupla[8])

# 6
print(tupla.count(7))

In [ ]:
lista = ['ines', 'pablo', 'ignacio', 'bautista', 'justo']
print(lista)
# ['ines', 'pablo', 'ignacio', 'bautista', 'justo']
print(lista[1:3])
# ['pablo', 'ignacio']

lista[2:4] = ['valentina', 'julian']
# ['ines', 'pablo', 'ignacio', 'bautista', 'justo']
# ['ines', 'pablo', valentina', 'julian', 'justo']
print(lista)
# ['ines', 'pablo', valentina', 'julian', 'justo']

lista[1:4] = [' los del medio']
# ['ines', 'pablo', valentina', 'julian', 'justo']
# ['ines', ' los del medio', 'justo']
print(lista)
# ['ines', ' los del medio', 'justo']

print(lista[1:4])
# [' los del medio', 'justo']
lista[1:3] = ['no', 'me', 'los', 'banco']
# ['ines', 'no', 'me', 'los', 'banco']
print(lista)
# ['ines', 'no', 'me', 'los', 'banco']

lista[1:3] = ['hola']
# ['ines', 'no', 'me', 'los', 'banco']
# ['ines', 'hola', 'los', 'banco']
print(lista)
# ['ines', 'hola', 'los', 'banco']