In [1]:
print(1-1)
print(2+2)

0
4

:

print/type

In [1]:
print(11//5)
print(2+2)

2
4

In [2]:
print(2)
print(4)

2
4

In [3]:
2
4

4

In [4]:
type(4)
type(3)

int

In [ ]:
print(type(4))
print(type(3))

<class 'int'>
<class 'int'>

# Numeros

In [ ]:
print(type(1)) # int => enteros
print(type(2.5)) # float => flotantes
print(type(2.5j)) # complex => complejos
# print(type(2.5L)) # long => se utilizaba en versiones anteriores de python

<class 'int'>
<class 'float'>
<class 'complex'>

### Operadores aritmeticos

In [5]:
# Suma
print(3+3)
# Resta
print(3-3)
# Multiplicacion
print(3*3)
# Division decimal
print(5/3)
# Division Entera
print(5//3)
# Modulo ( Resto de la division entera de 5 y 3 )
print(5%3)
# Potenciacion
print(5**3)

6
0
9
1.6666666666666667
1
2
125

### Expresión


5 + 5 * 12 / 3

### Precedencia

python ejecuta operacion de izq a derecha

---

() -> ** -> / // * %  -> + -

primero -> segundo -> tercero -> cuarto

---

1ro. ()

2do. **

3ro. * / // %

4to. + -

---

In [6]:
5 + 5 * 12 / 3 - 45 + 3 ** 5

223.0


5 + 5 * 12 / 3 - 45 + 3 ** 5

5 + 5 * 12 / 3 - 45 + 243

5 + 20.0 - 45 + 243

223.0

In [7]:
5 + 5 * 12 / 3 - ( 45 + 3 ** 5 )

-263.0

5 + 5 * 12 / 3 - ( 45 + 3 ** 5 )

5 + 5 * 12 / 3 - ( 45 + 243 )

5 + 5 * 12 / 3 - 288

5 + 20 - 288

-263

# Cadenas de texto / string

In [8]:
'mama! cortaste la luz'
"mama! cortaste la luz?"

'mama! cortaste la luz?'

In [9]:
# pepito corre solo
print(type("mama! cortaste la luz?")) # pepito corre solo

<class 'str'>

In [ ]:
print('mama! cortaste la luz')
print("mama! cortaste la luz")

mama! cortaste la luz
mama! cortaste la luz

In [ ]:
print('It is blue')
print("It's blue")

It is blue
It's blue

In [ ]:
print("Y Ricardo grito: mama! cortaste la luz")
print('Y Ricardo grito: "mama! cortaste la luz"')

Y Ricardo grito: mama! cortaste la luz
Y Ricardo grito: "mama! cortaste la luz"

In [ ]:
print("It's blue")
print('Y Ricardo grito: "mama! cortaste la luz"')

In [ ]:
# Cadena con formato, escape de caracteres, raw-string, f-string

print('"letras", "palabras"')
print("\"letras\", \"palabras\"")
print('\'letras\', \'palabras\'')
# print(""letras", "palabras"")
print("'letras',\n 'palabras'")
print("'letras',\t'palabras'")

"letras", "palabras"
"letras", "palabras"
'letras', 'palabras'
'letras',
 'palabras'
'letras',	'palabras'

In [ ]:
# print('pepito
# corre solo')

print('pepito\n corre solo')

print('''pepito
                    corre
      solo''')

print("""'letras',
         'palabras'""")
# print('''
# 'letras',
#          'palabras'
# ''')
# print("""dfgdfgdfg
# 'letras',
#  'palabras'
# dfgdfgdfg""")

# print("
# 'letras',
#          'palabras'
# ")

In [ ]:
print(r'mama! \tcortaste la luz')

mama! \tcortaste la luz

In [ ]:
print("C:\norma\pepe")
print('C:\tomas\pepe')
print(r"C:\norma\pepe")

In [ ]:
print('pepito se saco un 5 en matematicas')
print(f'pepito se saco un {2+3} en matematicas')

pepito se saco un 5 en matematicas
pepito se saco un 5 en matematicas

In [10]:
# "C:\norma\pepe"
# 'C:\tomas\pepe'
r"C:\norma\pepe"

'C:\\norma\\pepe'

In [11]:
print('\ttabulacion')
print('tabu\nlacion')
print('        tabulacion')
# print('
# tabulacion
# ')
print('''tabu
lacion''')

print('''
|nombre |apellido|edad|
|pepe   |grillo  |23  |
|ricardo|fort    |34  |
''')

	tabulacion
tabu
lacion
        tabulacion
tabu
lacion

|nombre |apellido|edad|
|pepe   |grillo  |23  |
|ricardo|fort    |34  |

# Break

Variables

x + 3 = 5

In [ ]:
numero = 23
# pepito44 = 23
# numero_entero = 43
# print(numero)
suma = 5 + 5
print(suma)
animal = 'oso'
print(animal) # esto es un comentario que python no lo lee
# # # esto es otro comentario que python no lo lee
# edad del profe = 33
# 'edad del profe' = 33
edad_del_profe = 33
print(edad_del_profe)

10
oso
33

---
### Formatos para nombrar una variable
---
snake_case -> Por cada palabra que contenga el nombre de la variable, las vas a escribir en minuscula y para separarlas vas aponer un _  ( definir variables, funciones, etc... algunas se ven mas adelante)

edad_de_pepe = 25

---

PascalCase -> Por cada palabra que contenga el nombre de la variable su primer letra iria enb mayuscula y no tendrian separador ( definir Clases... se ven mas adelante )

EdadDePepe = 25

---

camelCase -> Casi igual a PascalCase con la diferencia que la primer letra siempre va en minuscula ( se suele utiliar en otros lenguajes )

edadDePepe = 25

---

In [12]:
suma = 2+2
print(type(suma))
# type(4)
print(suma) # 2+2

<class 'int'>
4

In [14]:
estanteria = 'taza'
multiplicacion = x * y
x = 14*15
y = 2020
anio_nacimiento = 2020

print(x)
print(multiplicacion)
print(y)
print(anio_nacimiento)

210
424200
2020
2020

In [ ]:
numero_de_clase, cantidad_alumnos = 34655, 121
print(numero_de_clase)
print(cantidad_alumnos)

34655
121

In [ ]:
# 2 = pepe
pepe = 2
print(pepe)
# variable15
variable15 = 15
print(variable15)

In [17]:
num = 2
print(num)
variable = 
print(variable)
print(2+2)

SyntaxError: invalid syntax (1734689868.py, line 3)

:

In [1]:
texto = 'Hola soy pepito'
print(texto)

Hola soy pepito

In [ ]:
var = 'variable'
vaR = 'Variable'
VaR = 'VariablE'
print(var)
print(vaR)
print(VaR)
var = 'var'
print(var)
var = 2
print(var)

variable
Variable
VariablE
var
2

# input

Siempre devuelve/retorna un string

In [ ]:
input('Ingrese nombre: ')

Ingrese nombre: pepito

'pepito'

In [2]:
nombre = input('Ingrese nombre: ')
print(nombre)

tere

In [3]:
input('Ingresa un numero: ')

'123456789'

In [4]:
numero = input('Ingresa un numero: ')
# print(numero)
numero

'adfghj'

In [11]:
numero = int(input('Ingresa un numero: '))
print(type(numero))

<class 'int'>

In [12]:
numero = int(input('Ingresa un numero: '))
print(type(numero))
print(type(5))
print(numero + 5)

<class 'int'>
<class 'int'>
7

### Castear

In [13]:
str(5)

'5'

In [7]:
# int(aca el valor que queremos transformar a entero)
# numero = input('Ingresa un numero: ')
numero = int(input('Ingresa un numero: '))
print(type(numero))
print(type(5))
print(numero + 5)

<class 'int'>
<class 'int'>
6

In [ ]:
# float(aca el valor que queremos transformar a flotante/decimal)
numero = float(input('Ingresa un numero: '))
print(type(numero))
print(type(5.5))
print(numero + 5)

Ingresa un numero: 5.5
<class 'float'>
<class 'float'>
10.5

In [14]:
# str(aca el valor que queremos transformar a string/cadena de texto)
numero = str(2+2)
print(type(numero))
print(type('4'))
print(type(4))
# print(numero + 5)
# print(5 + numero)

<class 'str'>
<class 'str'>
<class 'int'>

### Operacion con variables

In [15]:
nombre = 'Ricardo'
apellido = 'Fort'
numero1 = 5
numero2 = 15

# Sumar, Restar, Multiplicar, etc
print(numero1 + numero2 * numero1)
# print(5 + 15 * 5)

# Concatenar
print(nombre + apellido)
print(nombre + ' ' + apellido)
print(f'{nombre} {apellido}')
print(nombre, apellido)
variable = nombre, apellido
print(variable)

# # Repetir String
print(nombre * numero1)
print('pepe ' * 4)
# print('pepe', 'pepe', 'pepe', 'pepe')

80
RicardoFort
Ricardo Fort
Ricardo Fort
Ricardo Fort
('Ricardo', 'Fort')
RicardoRicardoRicardoRicardoRicardo
pepe pepe pepe pepe

### index

In [16]:
texto = 'Probando los indices'
#        0123456789...
#                  ...7654321 negativos

palabra = 'roca'
        #  0123 -->
        #  4321 <--

print(texto[0])
print('Probando los indices'[3])
print(texto[8])
print(texto[-1])
print(texto[19])
# print(texto[20])

P
b

s
s

len

In [17]:
# len()

palabra = 'roca'
print(len('Probando los indices')) # len(valor a contar)
print(len(palabra))

20
4

Slicing

In [18]:
texto = 'Probando el slicing'

print(texto)
# print(texto[4])

# texto[<inicio>:<final>:<el salto(este es opcional)>]
print(texto[4:])
print(texto[:8])
print(texto[4:19])
print(texto[4:10])
print(texto[3:12:2])
print(texto[-5:-2])
print(texto[-2:-5])
print(texto[::-1])
print(texto)

Probando el slicing
ando el slicing
Probando
ando el slicing
ando e
bnoe
ici

gnicils le odnaborP
Probando el slicing

In [19]:
'peppe'[::2]

'ppe'

In [20]:


# print(texto[4:19])
# print(texto[10])
# print(texto[4:10])
# print(texto[9])
# print(texto[:10])
# print(texto[-5:])
# print(texto[-5:-2])
# print(texto[-2:-5]) # no toma nada porque quiere ir de un valor para la parte anterior de la cadena de caracteres
# print(texto[principio incluido:final sin incluir:salto])
# print(texto[::1])
# print(texto[::2])
# print(texto[::4])
# print(texto[3:12])
# print(texto[3:12:2])
# print(texto[::-1])
texto_dado_vuelta = texto[::-1]
print(texto)
print(texto_dado_vuelta)

Probando el slicing
gnicils le odnaborP

In [ ]:
# print('hola soy ricardo fort el comandante'[::])
# print('hola soy ricardo fort el comandante'[2::])
# print('hola soy ricardo fort el comandante'[2:6:])
# print('hola soy ricardo fort el comandante'[2:14:2])
# print('hola soy ricardo fort el comandante'[2:14])
# print('hola soy ricardo fort el comandante'[6:])
# print('hola soy ricardo fort el comandante'[:14])
# print('hola soy ricardo fort el comandante'[::-1])
# print('hola soy ricardo fort el comandante'[-15:-6:])

### Inmutabilidad

In [21]:
texto = 'palabras de mas'
# texto = 'pepito'

# texto[-2] = 'e'
texto_cortado = texto[0:2] + 's' + texto[-1]
print(texto_cortado)
# texto_distinto = texto[:-3] + 'menos'
# texto = texto[:-3] + 'menos'
print(texto)
# print(texto_distinto)


# inmutabilidad
# print(texto)
# print(texto[3])
# texto[2] = 's'

pass
palabras de mas

## Desafío Números (10 min)
Descripción de la actividad.

En nuestro trabajo, nos solicitan desarrollar un programa que permita calcular el promedio final de los equipos de futbol en un torneo.
Para ello, debemos considerar tres aspectos:

jugaron 20 partidos durante el torneo,
los partidos poseen diferente puntaje según el resultado, los partidos ganados 3 puntos, partido empatado 1 punto, partido perdido 0 puntos,
el promedio final resulta de la cantidad de puntos totales divididos la cantidad de partidos

La cantidad de partidos que debemos considerar a un equipo para el ejemplo se detallan a continuación:

partidos_ganados 8
partido_empatados 7
partido_perdidos 5

Importante: Cada una de las cantidades de partidos ganados, empatados o perdidos debe solicitarse al usuario utilizando la función input().

In [1]:
partidos_jugados = 20
puntaje_ganado = 5
puntaje_empatado = 1
puntaje_perdido = 0

partidos_ganados = int(input('Cuantos partidos gano tu equipo: '))
partidos_perdidos = int(input('Cuantos partidos perdio tu equipo: '))
partidos_empatados = int(input('Cuantos partidos empato tu equipo: '))

promedio = (partidos_ganados * puntaje_ganado + partidos_empatados) / partidos_jugados

print(f'El promedio de puntos por patido obetnidos fue {promedio}')
print(f'El promedio de puntos por patido obetnidos fue' {promedio})

In [ ]:
cantidad_partidos_del_torneo = 20
puntaje_partidos_ganados = 3
puntaje_partidos_empatados = 1
puntaje_partidos_perdidos = 0

partidos_ganados = float(input('Cantidad de partidos ganados: '))
partidos_empatados = float(input('Cantidad de partidos empatados: '))
partidos_perdidos = float(input('Cantidad de partidos perdidos: '))

puntaje_total = partidos_ganados * puntaje_partidos_ganados + partidos_empatados * puntaje_partidos_empatados + partidos_perdidos * puntaje_partidos_perdidos

promedio = puntaje_total / cantidad_partidos_del_torneo

print(promedio)

# Desafío String (10 min)

Dadas cuatro variables con diferentes textos (de forma individual), genera una nueva variable con el siguiente contenido:

Objetivo: “Python es un lenguaje de programación versátil”

Partiendo de:

cadena_1  = “versátil”

cadena_2  = “Python”

cadena_3  = “es un lenguaje”

cadena_4  = “de programación”

In [ ]:
cadena_1 = 'versátil'
cadena_2 = 'Python'
cadena_3 = 'es un lenguaje'
cadena_4 = 'de programación'

print(cadena_2, cadena_3, cadena_4, cadena_1)

cadena = f'{cadena_2} {cadena_3} {cadena_4} {cadena_1}'
cadena = cadena_2 + ' ' + cadena_3 + ' ' + cadena_4 + ' ' + cadena_1
print(cadena)


# Desafío Slicing (10 min)
Se tiene una cadena de texto, pero al revés. Al parecer contiene el nombre de un alumno, la nota de un exámen y la materia.
De forma individual, realiza lo siguiente:
1. Dar vuelta la cadena y asignarla a una variable llamada cadena_volteada. Para devolver una cadena dada vuelta se usa el tercer índice negativo con slicing: cadena[::-1].
2. Extraer nombre y apellido, almacenarlo en una variable llamada nombre_alumno
3. Extraer la nota y almacenarla en una variable llamada nota.
4. Extraer la materia y almacenarla en una variable llamada materia.
5. Mostrar por pantalla la siguiente estructura:
😎NOMBRE APELLIDO ha sacado un NOTA en MATERIA. Esto ultimo hacerlo, formateando las anteriores variables en una variable llamada cadena_formateada

cadena = “acitametaM ,5.8 ,otipeP ordeP”

In [ ]:
cadena = "acitametaM ,5.8 ,otipeP ordeP"
# 1
cadena_volteada = cadena[::-1]
print(cadena_volteada)
# 2
nombre_alumno = cadena_volteada[:12]
print(nombre_alumno)
# 3
nota = cadena_volteada[14:17]
print(nota)
# 4
materia = cadena_volteada[19:]
print(materia)
# 5
cadena_formateada = f'😎{nombre_alumno} ha sacado un {nota} en {materia}'
cadena_formateada = '😎' + nombre_alumno + ' ha sacado un ' + {nota} + ' en ' + {materia}
print(cadena_formateada)

---
---
# Extra
---
---

## Mi primer programa en Python

Consigna

Trabajas en Coderhouse y te piden crear un programa que calcule la nota final de estudiantes del curso de Python. La nota final se calcula basándonos en tres notas previas de las cuales, cada una corresponde un porcentaje distinto de la nota final. Los porcentajes se detallan a continuación:
- nota_1  cuenta como el 20% de la nota final
- nota_2 cuenta como el 30% de la nota final
- nota_3 cuenta como el 50% de la nota final

In [ ]:
nota_1 = int(input("Ingresa la nota 1: "))
nota_1

In [ ]:
nota_2 = int(input("Ingresa la nota 2: "))
nota_2

In [ ]:
nota_3 = int(input("Ingresa la nota 3: "))
nota_3

In [ ]:
#Asignacion de porcentajes
nota_1 = nota_1 * 0.20
nota_2 = nota_2 * 0.30
nota_3 = nota_3 * 0.50

In [ ]:
nota_total = nota_1 + nota_2 + nota_3
nota_total