In [1]:
copa: {1990:"Alemania" 1994:"Brasiñ" 1998:"Francia" 2002:"Brasil" 2006:"Italia"}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3476070062.py, line 1)

In [3]:
def add(x, y):
    return x + y

In [ ]:
nombres = ["Francisco", "Alejandro", "Ana"]
apellidos = ["Perez", "Garcia", "Diaz"]

Name_Las

In [1]:
n = 0
while n < 10:
    n += 1
    if n == 2:
        pass
    print('n vale' , n)

n vale 1
n vale 2
n vale 3
n vale 4
n vale 5
n vale 6
n vale 7
n vale 8
n vale 9
n vale 10

In [4]:
n = 0
while n < 10:
    n += 1
    if n == 2:
        pass
        print('n vale' , n)

n vale 1
n vale 2
n vale 3
n vale 4
n vale 5
n vale 6
n vale 7
n vale 8
n vale 9
n vale 10

In [8]:
c = -3
while c < 10:
    c += 1
    if c == 2:
        pass
    print('c vale', c)

c vale -2
c vale -1
c vale 0
c vale 1
c vale 2
c vale 3
c vale 4
c vale 5
c vale 6
c vale 7
c vale 8
c vale 9
c vale 10